@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&family=Yesteryear&display=swap');
:root {
  --font1: Verdana, Geneva, Tahoma, sans-serif;
  --font2: "Passion One", sans-serif;
  --font3:  "Sriracha", cursive;
}

* {
  margin: 0px;
  padding: 0px;

}
html, body {
  background-color: darkgray;
  min-height: 100vh;
  font-family: var(--font1);
  font-size: 4.0vw; /*Gambiarra para ajustar a largura da viewport e deixar a letra responsiva*/
}
header {
  background-color: black;
  color: white;
  text-align: center;
}
header > h1 {
  padding-top: 50px;
  font-variant: small-caps; /*Essa configuração deixa apenas as primeiras letras das palavras em maisculas*/
  font-family: var(--font2);
}
header > p {
  padding-bottom: 50px;
}
 header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder; /*Coloca em negrito*/
}
header a:hover, footer a:hover {
  text-decoration: underline;
  background-image: linear-gradient(to right, transparent, darkgray, transparent);
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  /*Esse padding com o valor 10vh, corresponde a 10% do tamanho da tela.*/
  line-height: 2em; /*Mede o tamanho do espaçamento entre uma frase e outra*/
  padding-left: 30px;
  font-family: var(--font3);
  font-size: 3.5vw;
 
}
section > p {
  padding-bottom: 2em;
}
section.normal {
  background-color: white;
  color: black;
  
}
section.imagem {
  background-color: black;
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.345);
  background-size: cover;
  background-attachment: fixed;
}
section.imagem > p {
  display: inline-block;
  background-color: rgba(80, 79, 79, 0.216);
  text-shadow: 1px 1px 0px black;
}
section#img01 {
  background-image: url('/imagens/background001.jpg');
  background-position: right center;
  
}
section#img02 {
  background-image: url('/imagens/background002.jpg');
 
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
.footer {
  font-size: 0.2em;
}